<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lmp52pzuxg"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>
    <style>
      .topNav{
        position: fixed;
        top: 0;
        left: 150px;
        z-index: 999;
      }
      .topNav > h2 > a > img{
        height: 100px;
      }
    </style>
</head>
<body>
  <div class="progress">
    <div class="bar"></div>
</div>
<div class="wrap">
    <nav class="topNav"><h2 class="logo"><a href="#"><img src="./img/text_if.png" alt=""></a></h2></nav>
    <header class="snap" style="background-color: #000;">
        <div class="layer"></div>
        <img src="./img/if_covid19.png" alt="text_if" class="text_if">
        <img src="./img/pipe.png" alt="pipe" class="pipe">
        <img src="./img/doctor_black.jpg" alt="wall" class="bg">     
    </header>

    <section class="site_section">
      <article class="intro_title">
        <h2 class="title"><img src="./img/Can_we_covid.svg" alt=""></h2>

        <video autoplay controls loop muted poster="aaa" preload="bbb" class="nasa">
          <source src="./videos/nasa.mp4">
        </video>
      </article>
      <article class="scale_content">
        <h2 class="scale_video">
          <img src="./img/protect_man.jpg" alt="">
          <!-- <video autoplay controls loop muted poster="aaa" preload="bbb">
            <source src="./videos/maskMp4.mp4">
          </video> -->
        </h2>
      </article>
      <article class="parallax">
        <div class="first_parallax">
          <h2 class="parallax_title"><a href="##">Lorem ipsum, dolor sit amet.<br>Lorem ipsum dolor sit amet consectetur.<br>Lorem ipsum dolor sit.</a></h2>
          <div class="parallax_box">
            <h2><img src="./img/mask_girl.jpg" alt="mask_girl" class="mask_girl"></h2>
          </div>
        </div>
        <div class="second_parallax">
          <div class="parallax_box2">
            <h2><img src="./img/santizer.jpg" alt="mask_girl" class="santizer"></h2>
          </div>
          <h2 class="parallax_title2"><a href="##">Lorem ipsum, dolor sit amet.<br>Lorem ipsum dolor sit amet consectetur.<br>Lorem ipsum dolor sit.</a></h2>
        </div>
      </article>

      <article class="protect">
        <h1 class="protect_title">
          Lorem ipsum dolor sit?
        </h1>
          <img src="./img/letsCovid.png" alt="lets" class="lets">
          <img src="./img/letsCovid.png" alt="lets" class="lets2">
          <img src="./img/sit_down_man_nBg.png" alt="man" class="man">
      </article>

      
    </section>
    

    <section class="snap">
      <div class="container">
        <div class="navbar">
          <article class="content">
            <ul class="covidTable">
              <li class="decide">
                 <span>확진환자</span>
                 <h3><%= decideCnt %></h3>
                 <% if(plusDecideCnt > 0) { %>
                  <p><%= plusDecideCnt %> ▲</p>
                 <% } else { %>
                  <p><%= plusDecideCnt %> ▼</p>
                 <% } %>
              </li>
              <li class="exam">
                 <span>검사중</span>
                 <h3><%= examCnt %></h3>
                 <% if(plusExamCnt > 0) { %>
                  <p><%= plusExamCnt %> ▲</p>
                 <% } else { %>
                  <p><%= plusExamCnt %> ▼</p>
                 <% } %>
              </li>
              <li class="clear">
                 <span>격리해제</span>
                 <h3><%= clearCnt %></h3>
                 <% if(plusClearCnt > 0) { %>
                  <p><%= plusClearCnt %> ▲</p>
                 <% } else { %>
                  <p><%= plusClearCnt %> ▼</p>
                 <% } %>
              </li>
              <li class="death">
                 <span>사망자</span>
                 <h3><%= deathCnt %></h3>
                 <% if(plusDeathCnt > 0) { %>
                  <p><%= plusDeathCnt %> ▲</p>
                 <% } else { %>
                  <p><%= plusDeathCnt %> ▼</p>
                 <% } %>
              </li>
          </ul>
          </article>
        </div>
        <div class="infobox">
          <div class="infoTitle">현재날짜</div>
          <div class="infoTitle"><%= day2 %></div>
        </div>
        <div id="map" style="width:100%;height:100%;"></div>
      </div>
    </section>
  <!-- data -->
</body>
<script>
  const region = '서울'
  const place = '서울 금천 디지털 컴플렉스'
  const date = '오늘'
  const lat = 37.485017
  const lon = 126.901248

  // for문을 이용하여 template에 region[i] 이런식으로 넣으면 될 것 같긴 함

  var data = [
    {
      // axios fetch 후 for : axiosData(i) ↓ 대입
        title : "서울", // region
        content : "서울 남산", // place
        date : "2020-11-23", // date
        lat : 37.550027, //lat
        lng : 126.992739 // lat -> lon
    },
    {
        title : '서울',
        content : "녹사평역",
        date : "2020-11-23",
        lat : 37.534680,
        lng : 126.986688
    },
    {
        title : '서울',
        content : "상봉",
        date : "2020-11-23",
        lat : 37.596062,
        lng : 127.085510
    },
    {
        title : '서울',
        content : "가산",
        date : "2020-11-23",
        lat : 37.479135,
        lng : 126.883928
    },
    {
        title : '서울',
        content : "종로",
        date : "2020-11-23",
        lat : 37.595341, 
        lng : 126.977854
    },
    {
        title : region,
        content : place,
        date : date,
        lat : lat, 
        lng : lon
    },
]
</script>

<script src="/js/map.js"></script>
<script src="/js/api.js"></script>
</html>