<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19</title>
    <style>
        *{margin: 0; padding: 0; list-style: none;}
        ul{display: flex; justify-content: space-around; text-align: center; width: 600px; margin: 0 auto;}

        .decide {
            color: rgb(223, 35, 35);
        }
        .exam{
            color: rgb(236, 172, 53);
        }
        .clear{
            color: rgb(49, 49, 238);
        }
        ul > li > span {
            font-size: 14px;
        }
        ul>li>p{
            font-size: 12px;
        }
    </style>
</head>
<body>

     <div class="container">
         <header class="site_header"></header>
         <section class="container">
             <article class="content">
                 <ul class="covidTable">
                     <li class="decide">
                        <span>확진환자</span>
                        <h3><%= decideCnt %></h3>
                        <p><%= plusDecideCnt %> ▲</p>
                     </li>
                     <li class="exam">
                        <span>검사중</span>
                        <h3><%= examCnt %></h3>
                        <p><%= plusExamCnt %> ▲</p>
                     </li>
                     <li class="clear">
                        <span>격리해제</span>
                        <h3><%= clearCnt %></h3>
                        <p><%= plusClearCnt %> ▲</p>
                     </li>
                     <li class="death">
                        <span>사망자</span>
                        <h3><%= deathCnt %></h3>
                        <p><%= plusDeathCnt %> ▲</p>
                     </li>
                 </ul>
             </article>
         </section>
     </div>
     <footer class="site_footer"></footer>
</body>
<script>
</script>
</html>
