<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>20306 김민후 코로나맵</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="covid_slider">
      <section class="center slider">
        <div>
          <h1 class="content_title">
            <img src="https://image.flaticon.com/icons/png/512/2750/2750835.png" alt="">
            <p>확진자</p>
            <span><%= decideCnt1 %>명</span>
            <% if(plusDecideCnt > 0) { %>
              <p><%= plusDecideCnt %> ▲</p>
             <% } else { %>
              <p><%= plusDecideCnt %> ▼</p>
             <% } %>
          </h1> 
        </div>
        <div>
          <h1 class="content_title">
            <img src="https://cdn3.iconfinder.com/data/icons/line/36/document_magnify-512.png" alt="">
            <p>검사중</p>
            <span><%= examCnt1 %>명</span>
            <% if(plusExamCnt > 0) { %>
              <p><%= plusExamCnt %> ▲</p>
            <% } else { %>
              <p><%= plusExamCnt %> ▼</p>
            <% } %>
          </h1> 
        </div>
        <div>
          <h1 class="content_title">
            <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/freedom-1466675-1242454.png" alt="">
            <p>격리해제</p>
            <span><%= clearCnt1 %>명</span>
            <% if(plusClearCnt > 0) { %>
             <p><%= plusClearCnt %> ▲</p>
            <% } else { %>
             <p><%= plusClearCnt %> ▼</p>
            <% } %>
          </h1> 
        </div>
        <div>
          <h1 class="content_title">
            <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/angel-wings-1848031-1567490.png" alt="">
            <p>사망자</p>
            <span><%= deathCnt1 %>명</span>
            <% if(plusDeathCnt > 0) { %>
             <p><%= plusDeathCnt %> ▲</p>
            <% } else { %>
             <p><%= plusDeathCnt %> ▼</p>
            <% } %>
          </h1> 
        </div>
      </section>
    </div>
      <div class="covid_chart">
        <div>
          <canvas id="canvas"></canvas>
      </div>
      </div>
  </div>
</body>
<script>
    $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
</script>

<script>

  let dd = {
    
      "d1":<%=decideCnt1%>,
      "d2":<%=decideCnt2%>,
      "d3":<%=decideCnt3%>,
      "d4":<%=decideCnt4%>,
      "d5":<%=decideCnt5%>,
  }

  new Chart(document.getElementById("canvas"), {
      type: 'line',
      data: {
          labels: ['1', '2', '3', '4', '5',],
          datasets: [{
              label: '5일전 ~ 오늘',
              data: [
                  dd.d5,
                  dd.d4,
                  dd.d3,
                  dd.d2,
                  dd.d1,
              ],
              borderColor: "rgba(255, 201, 14, 1)", // 그래프 선
              backgroundColor: "rgba(255, 201, 14, 0.5)", // 그래프 bg
              fill: false, // 색 채우기
              lineTension: 0
          }]
      },
      options: {
          responsive: true, // 화면에 채우기
          title: {
              display: true,
              text: '코로나 확진자'
          },
          tooltips: {
              mode: 'index',
              intersect: false,
          },
          hover: {
              mode: 'nearest',
              intersect: true
          },
          scales: {
              xAxes: [{
                  display: true,
                  scaleLabel: {
                      display: false,
                      labelString: '날짜'
                  }
              }],
              yAxes: [{
                  display: true,
                  ticks: {
                      suggestedMin: 100000,
                  },
                  scaleLabel: {
                      display: false,
                      labelString: '확진자 수'
                  }
              }]
          }
      }
  });
  
  </script>
</html>
